.container{
  width: 1140px;
  margin: 0 auto;
}


.main .custom-header{
  background-color: #fafbfc;
  padding: 30px 0 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.navbar-expand-lg{
  padding: 20px 0 !important;
}
.main .custom-header .navbar-brand {
  padding: 0;
  margin: 0;
}
.main .custom-header .navbar-brand .logo{
  width: 180px;
  height: 50px;
  object-fit: contain;
}
/* .main .custom-header .navbar-nav{} */
.main .custom-header .navbar-nav a{
  font-family: QuickSand-regular;
  font-size: 18px;
  color: white;
  padding: 5px 0;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}
.main .custom-header .navbar-nav a.active, .main .custom-header .navbar-nav a:hover{
  border-color: #0063B0;
  color: #0063B0;
}
.navbar-light .navbar-nav .nav-link {
  color: white !important;
  padding: 10px!important;
}